@model List<Event>
<!--Här visas alla event på Event/Index-sidan-->

<div class="row">
    @foreach (Event myEvent in Model)
    {
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="@myEvent.ImageUrl" class="img-responsive" />
                <h2>@myEvent.Title</h2>
                <p>Plats: @myEvent.Place</p>
                <p>Tid: @myEvent.Time</p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary" asp-controller="Events" asp-action="Details" asp-route-id="@myEvent.Id">Läs mer</a>
            </div>
        </div>
    </div>
    }
</div>

